---
import { Image } from "astro:assets";
import Footer from "../components/Layout/Footer.astro";
import Layout from "../layouts/Layout.astro";
import luces from "../assets/luces.jpeg";
import fondo from "../assets/fondo.jpeg";

import { GoArrowRight, GoArrowUpRight } from "react-icons/go";
import { FaInstagram } from "react-icons/fa";
---
<Layout>
    <main>
        <div class="equipamientoHero">
            <div class="imgLucesContainer">
                <Image src={luces} alt="luces" width={1000} class="imgLuces"/>
            </div>
            
            <div class="titulos">
                <h1>Nuestro equipamiento</h1>
                <p>Te proporcionamos todo el equipamiento necesario para tu evento soñado.</p>
            </div>
        </div>

        <div class="equipamientoContentContainer">
            <div class="equipamientoContent">
                <h2>Iluminacion</h2>
                <p>Equipos de luces
                    inteligentes, LED,
                    cabezales móviles y
                    estructuras para
                    ambientación y shows
                    en vivo.</p>
            </div>
            <div class="equipamientoContent">
                <h2>Sonido</h2>
                <p>Sistemas de audio
                    profesional con
                    excelente calidad,
                    desde pequeños
                    eventos hasta grandes
                    conciertos y
                    conferencias.</p>
            </div>
            <div class="equipamientoContent">
                <h2>Pantalla</h2>
                <p>Pantallas LED de alta
                    resolución para
                    proyecciones, visuales y
                    contenido multimedia.</p>
            </div>
            <div class="equipamientoContent">
                <h2>Estructura</h2>
                <p>Trusses, escenarios
                    modulares y
                    estructuras
                    personalizadas para
                    todo tipo de eventos.</p>
            </div>
            <div class="equipamientoContent">
                <h2>Energia</h2>
                <p>Generadores y sistemas
                    de respaldo para
                    garantizar un
                    suministro eléctrico
                    estable en cualquier
                    locación.</p>
            </div>
            
        </div>
            
        <div class="disclaimer">
            <div class="disclaimerContent">
                <div class="disclaimerIcon">
                    <GoArrowRight/>
                </div>
                <p>Nuestro equipo de profesionales se encarga de la instalación, operación y supervisión técnica, asegurando que cada elemento funcione a la perfección. Con JPR Técnicas para
                    Espectáculos, tu evento estará respaldado por tecnología de vanguardia y una ejecución impecable.</p>
            </div>
        </div>
        <div class="contenedorBarandillaFooter">
            <div class="barandillaImageContainer">
                <Image src={fondo} alt="Logo" width={2000} class="barandilla"/>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<style>
    main{
        
    }
    .equipamientoHero{
        position: relative;
        background-color: red;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .imgLucesContainer{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
    .imgLucesContainer .imgLuces{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

    }
    .titulos{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 1;
        color: white;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.931) 10%, rgba(0, 0, 0, 0));
        width: 100%;
        padding-bottom: 20px;
    }
    .titulos h1{
        font-family: 'PublicBlack', sans-serif;
        margin: 0px;
        font-size: 2.9rem;
        padding-top: 100px;
    }
    .titulos p{
        font-family: 'PublicRegular', sans-serif;
        font-size: 0.9rem;
        margin: 0px;
        padding-top: 5px;
    }
    .equipamientoContentContainer{
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0px;
        gap: 20px;
    }
    .equipamientoContent{
        color: white;
        width: 220px;
        height: 200px;
        border: 2px solid white;
        border-radius: 30px;
        padding: 20px;
        box-sizing: border-box;
    }
    .equipamientoContent h2{
        margin: 0px;
        font-family: 'PublicBold', sans-serif;
    }
    .equipamientoContent p{
        font-family: 'PublicRegular', sans-serif;
        font-size: 0.9rem;
    }
    .disclaimer{
        color: white;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .disclaimerContent{
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        width: 65%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: 'PublicRegular', sans-serif;
        font-size: 0.9rem;
    }
    .disclaimerIcon{
        border: 1px solid white;
        border-radius: 100%;
        width: 48px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .disclaimerContent p{
        margin: 0px;
    }

    .contenedorBarandillaFooter{
        background-color: #000;
        padding-top: 50px;
        width: 100%;
        height: 600px;
        overflow: hidden;
        
    }
    .barandillaImageContainer{
        position: relative;
        height: 100%;
    }
    .barandillaImageContainer::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgb(0, 0, 0), transparent 40%),
                        linear-gradient(to bottom, rgb(0, 0, 0), transparent 40%);
        height: 100%;
    }
    .barandillaImageContainer .barandilla{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }

</style>