---
import { Image } from "astro:assets";
import Footer from "../components/Layout/Footer.astro";
import Layout from "../layouts/Layout.astro";
import luces from "../assets/luces.jpeg";
---
<Layout>
    <main>
        <div class="equipamientoHero">
            <div class="imgLucesContainer">
                <Image src={luces} alt="luces" width={1000} class="imgLuces"/>
            </div>
            
            <div class="titulos">
                <h1>Nuestro equipamiento</h1>
                <p>Te proporcionamos todo el equipamiento necesario para tu evento soñado.</p>
            </div>
        </div>

        <div class="equipamientoContentContainer">
            <div class="equipamientoContent">
                <h2>Iluminacion</h2>
                <p>Equipos de luces
                    inteligentes, LED,
                    cabezales móviles y
                    estructuras para
                    ambientación y shows
                    en vivo.</p>
            </div>
            <div>
                <h2>Sonido</h2>
                <p>Sistemas de audio
                    profesional con
                    excelente calidad,
                    desde pequeños
                    eventos hasta grandes
                    conciertos y
                    conferencias.</p>
            </div>
            <div>
                <h2>Pantalla</h2>
                <p>Pantallas LED de alta
                    resolución para
                    proyecciones, visuales y
                    contenido multimedia.</p>
            </div>
            <div>
                <h2>Estructura</h2>
                <p>Trusses, escenarios
                    modulares y
                    estructuras
                    personalizadas para
                    todo tipo de eventos.</p>
            </div>
            <div>
                <h2>Energia</h2>
                <p>Generadores y sistemas
                    de respaldo para
                    garantizar un
                    suministro eléctrico
                    estable en cualquier
                    locación.</p>
            </div>
            
        </div>

        <div>

        </div>
    </main>
    <Footer/>
</Layout>

<style>
    main{
        
    }
    .equipamientoHero{
        position: relative;
        background-color: red;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .imgLucesContainer{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
    .imgLucesContainer .imgLuces{
        width: 100%;
        height: 100%;
        object-fit: cover;
        

    }
    .titulos{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 1;
        color: white;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.931), rgba(0, 0, 0, 0));
        width: 100%;
    }
    .titulos h1{
        font-family: 'PublicBlack', sans-serif;
        margin: 0px;
        font-size: 2.8rem;
    }
    .titulos p{
        font-family: 'PublicRegular', sans-serif;
        font-size: 0.9rem;
    }
    .equipamientoContent{
        background-color: rgb(13, 255, 0);
    }
    .equipamientoContent h2{
        margin: 0px;
    }

</style>