---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Carrousel from '../components/carrousel/Carrousel';
---

<div id="container">
	<Carrousel client:load/>
</div>

<style>
	
</style>
