---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Carrousel from '../components/carrousel/Carrousel';
---

<div>
	pagina inicio
	<a href="/1">1</a>
	<a href="/2">2</a>
	<a href="/3">3</a>
	<a href="/4">4</a>
	<a href="/5">5</a>
</div>

<style>
	
</style>
