---
import Footer from '../components/Layout/Footer.astro';
import Navbar from '../components/Layout/Navbar.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Navbar />
		<slot />
		
	</body>
</html>

<style is:global>

	body{
		margin: 0;
	}
	@font-face {
		font-family: 'PublicRegular', sans-serif;
		src: url('/fonts/PublicSans-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
  font-family: 'PublicBold';
  src: url('/fonts/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PublicBlack';
  src: url('/fonts/PublicSans-Black.ttf') format('truetype');
  font-weight: 800; /* <-- Corregido: era font-size por error */
  font-style: normal;
}

@font-face {
  font-family: 'ChivoMonoSB';
  src: url('/fonts/ChivoMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
</style>
